/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
  url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/quicksand-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/quicksand-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-500 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/quicksand-v29-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/quicksand-v29-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
  box-sizing: border-box;
}
body{
  font-family: 'Quicksand', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
img{
  vertical-align: middle;
  object-fit: cover;
}
.visually-hidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
.header{
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 40px 40px;
  padding: 17px 0;
}
.container{
  width: 1276px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header-wrap{
  display: flex;
  align-items: center;
}
.header-wrap-logo-link{
  text-decoration: none;
  margin-right: 39px;
}
.header-logo-img{
  width: 121px;
  height: 48px;
}
.header-form-wrapper{
  margin-right: 39px;
  display: flex;
  align-items: center;
}

.input-search{
  background: #F3F3F3;
  border-radius: 8px 0px 0px 8px;
  padding: 13px;
  width: 494px;
  border: none;
}
.input-search::placeholder{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2F294D;
  opacity: 0.5;
}
.header-wrap-first-btn{
  border: none;
  background: #0064D2;
  border-radius: 0px 8px 8px 0px;
  padding: 10px 15px;
}
.header-form-button-search{
  width: 24px;
  height: 24px;
}
.header-wrap-wishlist{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 26px;
}
.header-wrap-heart{
  margin-right: 10px;
}
.header-wrap-heart-img{
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.header-wrap-heart::before{
  content: "4";
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 13px;
  right: 49px;
  border: 2px solid #fff;
  background-color: #0064D2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand';
  font-weight: 500;
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  color: #FFFFFF;
}
.header-wrap-wishlist-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2F294D;
}
.header-wrap-my-cart{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 28px;
}
.header-wrap-shopping-cart{
  margin-right: 14px;
}
.header-wrap-shopping-cart-img{
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.header-wrap-shopping-cart::before{
  content: "1";
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0px;
  right: 51px;
  border: 2px solid #fff;
  background-color: #0064D2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand';
  font-weight: 500;
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  color: #FFFFFF;
}

.header-wrap-my-cart-text{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2F294D;
  margin-bottom: 3px;
}
.my-cart-span{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #0064D2;
}
.userpic-wrapper{
  margin-right: 26px;
  display: flex;
  align-items: center;
}
.userpic-wrapper-avatar{
  margin-right: 9px;
  width: 40px;
  height: 40px;
}
.header-wrap-second-btn{
  background: #0064D2;
  padding: 11px 13px;
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
}
.second-btn-icon{
  margin-right: 8px;
}
.header-wrap-second-btn:hover{
  opacity: 0.8;
}
.header-wrap-second-btn:active{
  opacity: 0.5;
}
.breadcrumb{
  padding: 18px 0;
  border-bottom: 1px solid rgba(173, 173, 173, 0.17);
}
.breadcrumb-inner{
  display: flex;
  align-items: center;
}
.breadcrumb-inner-link{
  padding: 8px;
  background: rgba(0, 100, 210, .1);
  text-decoration: none;
  border-radius: 50%;
  margin-right: 25px;
}
.breadcrumb-inner-img{
  object-fit: contain;
}
.breadcrumb-inner-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2F294D;
  margin-right: 4px;
}
.breadcrumb-inner-accessories-link{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0064D2;
  margin-right: 32px;
}
.breadcrumb-inner-smartphones-link{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0064D2;
}

.hero{
  padding: 59px 0;
}
.hero-wrap{
  display: flex;
}
.hero-wrap-left{
  width: 536px;
  margin-right: 37px;
}
.hero-wrap-left-top{
  background: #E6F0FB;
  border-radius: 24px;
  height: 463px;
  margin-bottom: 20px;
}
.hero-left-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-left-item{
  padding: 8px;
  background-color: rgba(0, 100, 210, .1);
  border-radius: 50%;
  cursor: pointer;
}
.hero-left-item:nth-child(2),
.hero-left-item:nth-child(3),
.hero-left-item:nth-child(4){
  width: 130px;
  height: 120px;
  border-radius: 24px;
}
.hero-left-item:nth-child(3){
  padding: 47px 0 47px 16px;
}
.hero-left-item:nth-child(4){
  padding: 19px 17px 0px 17px;
}
.hero-left-item:nth-child(2) .hero-left-img{
  width: 90%;
  display: block;
  margin: 0 auto;
  height: 112px;
}
.hero-left-item:nth-child(3) .hero-left-img{
  width: 100%;
}
.hero-left-item:nth-child(4) .hero-left-img{
  width: 96px;
  /* display: block; */
  margin: 0 auto;
  height: 101px;
}
.hero-left-link{
  text-decoration: none;
}
.hero-left-img{
  width: 24px;
  height: 24px;
}
.hero-wrap-right{
  position: relative;
}
.hero-right-inner{
  display: flex;
  align-items: center;
}
.hero-right-inner-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #2F294D;
  margin-right: 8px;
}
.starlight-span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #0064D2;
  padding: 5px 33px;
  background-color: rgba(0, 100, 210, 0.1);
  border-radius: 11px;
  cursor: pointer;
}
.hero-right-warranty-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2F294D;
  opacity: 0.5;
  margin-bottom: 16px;
}
.hero-right-content{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.hero-stars-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 9px;
}
.hero-stars-item{
  margin-right: 8px;
}
.hero-stars-link{
  text-decoration: none;
}
.hero-right-content-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(47, 41, 77, 0.5);
}
.hero-right-content-span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2F294D;
  margin-right: 10px;
}
.hero-phone-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 66px;
  color: #2F294D;
  margin-bottom: 12px;
  padding-left: 18px;
}
.hero-phone-title::before{
  content: "$";
  position: absolute;
  top: 22%;
  left: 0;
  display: inline-block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #2F294D;
  opacity: 0.7;
}
.hero-right-offer-list{
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 15px;
}
.hero-right-offer-item{
  margin-bottom: 16px;
  padding-left: 35px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2F294D;
  display: flex;
  align-items: center;
}
.hero-right-offer-item::before{
  content: "";
  position: absolute;
  left: 0;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-image: url("./../images/check.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 0px) calc(50% + 0px);
  border: 2px solid #000;
  display: inline-block;
}
.userpics{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.hero-thumb-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.hero-thumb-item{
  margin-right: 5px;
}
.hero-thumb-link{
  text-decoration: none;
}
.hero-saw-link{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0064D2;
  text-decoration: none;
}
.hero-purchase-btn{
  background-color: #0064D2;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 10px 71px;
  border: none;
  margin-right: 16px;
  cursor: pointer;
}
.hero-add-btn{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0064D2;
  border: none;
  padding: 10px 66px;
  background: rgba(0, 100, 210, 0.1);
  border-radius: 10px;
  cursor: pointer;
}
.about-menu{
  background-color: rgba(0, 100, 210, 0.05);
  padding: 24px 0;
}
.about-menu-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.about-menu-item{
  position: relative;
  margin-right: 43px;
}
.about-menu-link{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgba(30, 31, 75, .5);
  text-decoration: none;
}
.about-menu-link:hover{
  color: #1E1F4B;
}
.active-about-menu-link{
  color: #1E1F4B;
}
.active-about-menu-link::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 24%;
  width: 24px;
  height: 3px;
  background-color: #3972FE;
  border-radius: 30px;
  display: inline-block;
}
.active-about-menu-link::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 80%;
  width: 3px;
  height: 3px;
  background-color: #3972FE;
  border-radius: 50%;
  display: inline-block;
}
.about-content{
  padding: 40px 0;
}
.about-content-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.about-content-item{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.about-content-left{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 250px;
  margin-bottom: 30px;
  height: 258px;
  background-color: rgba(0, 100, 210, 0.1);
  border-radius: 24px;
}
.about-content-item:nth-child(2) .about-content-left{
  justify-content: center;

}
.about-content-item:nth-child(2) .about-content-box{
  order: -1;
  margin-left: 15px;
}
.about-content-item:nth-child(2){
  margin-bottom: 0;
}

.about-content-box{
  padding-top: 5px;
  width: 890px;
}
.about-content-sublist{
  margin: 0;
  padding: 0;
  list-style-type: disc;
}
.about-content-subitem{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2F294D;
  margin-bottom: 2px;
}
.underline-span-li{
  width: 1237px;
  border: 2px solid rgba(0, 0, 0, 0.05);
}
.cards{
  padding-bottom: 70px;
}
.cards-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #1E1F4B;
  margin-bottom: 31px;
}
.card-list{
  /* background-color: orange; */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between; */
}
.card-item{
  padding: 21px 20px 16px 20px;
  width: 250px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 27px;
  margin: 0 auto;
}
.card-item:nth-child(1),
.card-item:nth-child(2),
.card-item:nth-child(3){
  margin-right: 78px;
}
.card-item-box{
  background: rgba(0, 100, 210, .1);
  border-radius: 20px;
  width: 210px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
.card-item-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2F294D;
  margin-bottom: 5px;
}
.card-item-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2F294D;
  opacity: 0.7;
  margin-bottom: 5px;
}
.card-item-inner{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-price{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #2F294D;
}
.rating{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2F294D;
}
.rating::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 30px;
  height: 30px;
  background-image: url("./../images/start-icon-yellow.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer{
  padding: 30px 0 15px 0;
  background: rgba(0, 100, 210, .05);
}
.footer-top-span{
  display: inline-block;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.05);
}
.footer-wrap{
  display: flex;
  align-items: flex-start;
  padding: 41px 0 25px 0;
}
.footer-logo-box{
  margin-right: 240px;
}
.footer-site-logo-link{
  text-decoration: none;
}
.footer-wrap-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-wrap-item:nth-child(1),
.footer-wrap-item:nth-child(2){
  margin-right: 230px;
}
.footer-wrap-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #253D4E;
  margin-bottom: 36px;
}
.footer-wrap-sublist{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-wrap-sublink{
  font-family: 'Quicksand';
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #253D4E;
  margin-bottom: 15px;
  display: inline-block;
}
.footer-bottom-span{
  width: 100%;
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}
.footer-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-copyright-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #253D4E;
}
.payments-list{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.payments-item{
  margin-right: 10px;
}
.payments-link{
  text-decoration: none;
}
.payments-img{
  width: 56px;
}